In [1]:
import pandas as pd
import  matplotlib.pyplot as plt

In [2]:
#1
#A
dfConfirmados = pd.read_csv('data/covid19_confirmados.csv', index_col="Country/Region")
#B
del dfConfirmados["Lat"]
del dfConfirmados["Long"]
#C
for i in range(1,461):
    dfConfirmados = dfConfirmados.rename(columns={dfConfirmados.columns[i]:pd.to_datetime(dfConfirmados.columns[i]) })

#D
del dfConfirmados["Province/State"]
dfConfirmados = dfConfirmados.groupby(by=['Country/Region']).sum()
dfConfirmados = dfConfirmados.sort_values('Country/Region')
dfConfirmados

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2021-04-16,2021-04-17,2021-04-18,2021-04-19,2021-04-20,2021-04-21,2021-04-22,2021-04-23,2021-04-24,2021-04-25
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,57612,57721,57793,57898,58037,58214,58312,58542,58730,58843
Albania,0,0,0,0,0,0,0,0,0,0,...,129307,129456,129594,129694,129842,129980,130114,130270,130409,130537
Algeria,0,0,0,0,0,0,0,0,0,0,...,119323,119486,119642,119805,119992,120174,120363,120562,120736,120922
Andorra,0,0,0,0,0,0,0,0,0,0,...,12712,12771,12805,12805,12874,12917,12942,13007,13024,13060
Angola,0,0,0,0,0,0,0,0,0,0,...,24122,24300,24389,24518,24661,24883,25051,25279,25492,25609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,2772,2781,2785,2791,2800,2812,2824,2830,2833,2843
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,278135,279753,280741,282270,284280,286028,287680,289120,290259,290972
Yemen,0,0,0,0,0,0,0,0,0,0,...,5715,5770,5812,5858,5918,5960,6020,6056,6105,6137
Zambia,0,0,0,0,0,0,0,0,0,0,...,90750,90844,90918,90942,91042,91119,91189,91251,91317,91358
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,37534,37699,37751,37859,37875,37980,38018,38045,38064,38086

In [24]:
dfPopulation = pd.read_csv('data/population_by_country_2020.csv', index_col="Country/Region")
dfPopulation = dfPopulation.sort_values('Country/Region')
dfPopulation

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
Country/Region,,,,,,,,,,
Afghanistan,39074280,2.33 %,886592,60,652860,-62920.0,4.6,18,25 %,0.50 %
Albania,2877239,-0.11 %,-3120,105,27400,-14000.0,1.6,36,63 %,0.04 %
Algeria,43984569,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
American Samoa,55169,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Andorra,77287,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
...,...,...,...,...,...,...,...,...,...,...
Wallis & Futuna,11203,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Western Sahara,599769,2.55 %,14876,2,266000,5582.0,2.4,28,87 %,0.01 %
Yemen,29935468,2.28 %,664042,56,527970,-30000.0,3.8,20,38 %,0.38 %
Zambia,18468257,2.93 %,522925,25,743390,-8000.0,4.7,18,45 %,0.24 %
Zimbabwe,14899771,1.48 %,217456,38,386850,-116858.0,3.6,19,38 %,0.19 %

In [31]:
dfConfirmadosPopulation = pd.merge(dfConfirmados,dfPopulation[['Population (2020)']], on="Country/Region")
dfConfirmadosPopulation

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2021-04-17 00:00:00,2021-04-18 00:00:00,2021-04-19 00:00:00,2021-04-20 00:00:00,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,Population (2020)
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,57721,57793,57898,58037,58214,58312,58542,58730,58843,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,129456,129594,129694,129842,129980,130114,130270,130409,130537,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,119486,119642,119805,119992,120174,120363,120562,120736,120922,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,12771,12805,12805,12874,12917,12942,13007,13024,13060,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,24300,24389,24518,24661,24883,25051,25279,25492,25609,33032075
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,181903,183190,184595,185736,186745,188063,189381,190523,191518,28421581
Vietnam,0,2,2,2,2,2,2,2,2,2,...,2781,2785,2791,2800,2812,2824,2830,2833,2843,97490013
Yemen,0,0,0,0,0,0,0,0,0,0,...,5770,5812,5858,5918,5960,6020,6056,6105,6137,29935468
Zambia,0,0,0,0,0,0,0,0,0,0,...,90844,90918,90942,91042,91119,91189,91251,91317,91358,18468257
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,37699,37751,37859,37875,37980,38018,38045,38064,38086,14899771

In [27]:
dfConfirmadosPopulationUnion = pd.merge(dfConfirmados,dfPopulation[['Population (2020)']], on="Country/Region", how='outer')
noEstan = []
for i in range(0,len(dfConfirmadosPopulationUnion.index)):
    if not (dfConfirmadosPopulationUnion.index[i] in dfConfirmadosPopulation.index):
        noEstan.append(dfConfirmadosPopulationUnion.index[i])

print('En las siguientes filas no se pudo realizar merge: ')
display(noEstan)

En las siguientes filas no se pudo realizar merge:

['Burma',
 'Diamond Princess',
 'Kosovo',
 'MS Zaandam',
 'Saint Vincent and the Grenadines',
 'West Bank and Gaza',
 'American Samoa',
 'Anguilla',
 'Aruba',
 'Bermuda',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Channel Islands',
 'Cook Islands',
 'Curaçao',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Hong Kong',
 'Isle of Man',
 'Kiribati',
 'Macao',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Myanmar',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palau',
 'Puerto Rico',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'Sint Maarten',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Tokelau',
 'Tonga',
 'Turkmenistan',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara']

In [28]:
#1
#A
dfRecuperados = pd.read_csv('data/covid19_recuperados.csv', index_col="Country/Region")
#B
del dfRecuperados["Lat"]
del dfRecuperados["Long"]
#C
for i in range(1,461):
    dfRecuperados = dfRecuperados.rename(columns={dfRecuperados.columns[i]:pd.to_datetime(dfRecuperados.columns[i]) })
    
#D
del dfRecuperados["Province/State"]
dfRecuperados = dfRecuperados.groupby(by=['Country/Region']).sum()
dfRecuperados = dfRecuperados.sort_values('Country/Region')
dfRecuperados


dfRecuperadosPopulation = pd.merge(dfRecuperados,dfPopulation[['Population (2020)']], on="Country/Region")
dfRecuperadosPopulation

dfRecuperadosPopulationUnion = pd.merge(dfRecuperados,dfPopulation[['Population (2020)']], on="Country/Region", how='outer')
noEstan = []
for i in range(0,len(dfRecuperadosPopulationUnion.index)):
    if not (dfRecuperadosPopulationUnion.index[i] in dfRecuperadosPopulation.index):
        noEstan.append(dfRecuperadosPopulationUnion.index[i])

print('En las siguientes filas no se pudo realizar merge: ')
display(noEstan)

En las siguientes filas no se pudo realizar merge:

['Burma',
 'Diamond Princess',
 'Kosovo',
 'MS Zaandam',
 'Saint Vincent and the Grenadines',
 'West Bank and Gaza',
 'American Samoa',
 'Anguilla',
 'Aruba',
 'Bermuda',
 'British Virgin Islands',
 'Caribbean Netherlands',
 'Cayman Islands',
 'Channel Islands',
 'Cook Islands',
 'Curaçao',
 'Faeroe Islands',
 'Falkland Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Hong Kong',
 'Isle of Man',
 'Kiribati',
 'Macao',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Myanmar',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North Korea',
 'Northern Mariana Islands',
 'Palau',
 'Puerto Rico',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Martin',
 'Saint Pierre & Miquelon',
 'Sint Maarten',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Tokelau',
 'Tonga',
 'Turkmenistan',
 'Turks and Caicos',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Wallis & Futuna',
 'Western Sahara']

In [ ]:
#1
#A
dfDecesos = pd.read_csv('data/covid19_decesos.csv', index_col="Country/Region")
#B
del dfDecesos["Lat"]
del dfDecesos["Long"]
#C
for i in range(1,461):
    dfDecesos = dfDecesos.rename(columns={dfDecesos.columns[i]:pd.to_datetime(dfDecesos.columns[i]) })
    
#D
del dfDecesos["Province/State"]
dfDecesos = dfDecesos.groupby(by=['Country/Region']).sum()
dfDecesos = dfDecesos.sort_values('Country/Region')
dfDecesos


dfDecesosPopulation = pd.merge(dfDecesos,dfPopulation[['Population (2020)']], on="Country/Region")
dfDecesosPopulation

dfDecesosPopulationUnion = pd.merge(dfDecesos,dfPopulation[['Population (2020)']], on="Country/Region", how='outer')
noEstan = []
for i in range(0,len(dfDecesosPopulationUnion.index)):
    if not (dfDecesosPopulationUnion.index[i] in dfDecesosPopulation.index):
        noEstan.append(dfDecesosPopulationUnion.index[i])

print('En las siguientes filas no se pudo realizar merge: ')
display(noEstan)